<h2>{{ contentType }}</h2>
<ng-container [ngSwitch]="renderType">
  <ng-container *ngSwitchCase="'multipleComponents'">
    <ng-container *ngFor="let question of questions">
      <app-question-box [question]="question"></app-question-box>
      <app-weather-box></app-weather-box>
    </ng-container>
  </ng-container>
  <ng-container *ngSwitchDefault>
    <ng-container *ngFor="let question of questions">
      <app-question-box [question]="question"></app-question-box>
    </ng-container>
  </ng-container>
</ng-container>
