.question-box {
  border: 1px solid #555555;
  border-radius: 15px;
  padding: 10px 20px;
  margin-bottom: 15px;
}
.question-box h4 {
  font-weight: 600;
  margin: 0;
}
.question-box p {
  margin: 5px 0;
  font-size: 14px;
}
